$textColor: green;
$backgroundColor: blue;
$fontWeight: bold;
$textSize:30px;

.three {
    background-color: $backgroundColor;
    color: $textColor;
    font-weight: $fontWeight;
    font-size:$textSize
}

.four {
    background-color: gold;
    color: $textColor;
    font-weight: $fontWeight;
    font-size:$textSize
}